/*
 * Shortcode: form.scss
 * -----------------------------------------------
*/
.contact-from {
	border-top-color: $theme-color1;
}
.newsletter-form-current-style {
	background: $theme-color1;
	.form-control {
	}
}
.subscribe-news-letter-current-style1 {
	input {
	}
	.icon {
		i {
			background: $theme-color1;
		}
	}
}