/*
 * Shortcode: department.scss
 * -----------------------------------------------
*/
.tm-sc-departments-tab .nav-tabs > li.active > a.active i,
.tm-sc-departments-tab .nav-tabs > li:hover > a.active i {
	color: $theme-color2;
}
.tm-sc-departments-tab .nav-tabs > li > a i {
	color: $theme-color2;
}
.tm-sc-departments-tab .nav-tabs > li > a {
	color: $theme-color2;
}

.tm-sc-departments-tab .nav-tabs > li.active > a:before {
	border-color: $theme-color1 transparent transparent transparent;
}
.tm-sc-departments-tab .nav-tabs > li.active > a {
	background: $theme-color1;
}
.tab-contact .icon i {
	background: $theme-color1;
}
.tab-contact .number-part .number {
	color: $theme-color2;
}